@import "mixin";
@import "var";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.main-header {
	@include flexprob;
	width: 100vw;
	height: 100vh;
	background-color: $bg-color;

	h1 {
		@include common(0.8rem, uppercase);
		letter-spacing: 1.5rem;
		&:hover {
			color: #c8d6e5;
		}

		&::after {
			content: " Channel";
		}
	}

	p {
		@include common(0.5rem, capitalize);
		&:hover {
			color: #c8d6e5;
		}
	}
}
